.ContainerGlobal {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: #f0db21;
}

.cardsGlobal {
  display: flex;
  width: 320px;
  height: 240px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 100px;
  background-color: #f09916;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4),
    -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.cardsGlobal p.title {
  font-size: 48px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0px;
}

.cardsGlobal p.text {
  font-size: 28px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0px;
}
